Suggestion: Increase StringLength of Type in examples

The current examples have the Type property for storing the Mime type of the file as a StringLength(25). This should be increase to at least 64 or 255. Ref [RFC6838 Section 4.2](https://tools.ietf.org/html/rfc6838#section-4.2). Would remove one common issue users might run into.

Thanks Mark for your suggestion. Very much appreciated. 
We change that with the coming release.

Note for all readers: Affects the database package only.

